[Desktop Entry]
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=fish -c $BROWSER https://music.youtube.com/
GenericName[en_US]=
GenericName=
Icon=youtube-music
MimeType=
Name[en_US]=Youtube Music
Name=Youtube Music
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
